body {
  font-family: sans-serif;
  overflow: hidden;
  background-image: url("game-show-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/* TYPOGRAPHY */

.game-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
}

.modal-body,
.modal-body2 {
  text-align: center;
  font-size: 2rem;
}

.modal-body {
  line-height: 1.5;
}
p,
div {
  font-weight: 700;
}
/* LAYOUT AND STYLING  */

.game-area {
  width: 60%;

  margin: auto;
}

.modal-body h1,
.modal-body p {
  margin: auto;
}

.cell {
  float: left;
}

.col {
  min-width: 100px;
  width: 19%;
  padding: 0;
}

.main {
  height: 100vh;
  min-width: 800px;
}

.flex-container {
  display: flex;
  background-color: rgba(245, 245, 245, 0.534);
  margin: 0 auto;
}
.case {
  position: absolute;
  min-width: 100px;
  width: 10%;
  height: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 40px;
  border: 2px solid #ccc;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(161, 6, 6);
  color: whitesmoke;
  transition: 0.5s;
}

.case:hover {
  transform: scale(1.5);
}

.sideVal {
  margin: 30px auto;
  width: 100px;
  padding: 5px 0;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.reveal {
  color: red;
  font-size: 2.5rem;
}

.reveal:hover {
  transform: none;
}

.modal1,
.modal2 {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 120px;
  z-index: 1;
}

.modal-content {
  background-image: url("game-show-bg-img.jpg");
  background-color: rgba(34, 33, 33, 0.959);
  background-blend-mode: darken;
  background-size: cover;
  color: whitesmoke;
  margin: auto;
  margin-top: 100px;
  min-height: 200px;
  padding: 30px;
  width: 60%;
  border-radius: 15px;
  text-align: center;
}

.left-side div {
  background-color: blue;
}

.right-side div {
  background-color: red;
}

.muted {
  color: rgba(90, 88, 88, 0.315);
  border: 2px solid #eee;
  background-color: rgba(245, 245, 245, 0.37);
}

.muted:hover {
  transform: none;
}

.chosen {
  background-color: rgba(100, 6, 22, 0.5);
  border: rgb(25, 25, 25) 5px solid;
}

.chosen:hover {
  transform: none;
}

.left-side .muted,
.right-side .muted {
  color: rgba(90, 88, 88, 0.315);
  border: 1px solid #eee;
  background-color: rgba(245, 245, 245, 0.37);
}

/* BUTTONS */
.btn {
  border: 5px solid black;
  background-color: rgb(197, 197, 197);
  box-shadow: rgb(97, 96, 96) 2px 8px 2px;
  font-size: 1.5rem;
  color: rgb(25, 25, 25);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  width: 15%;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  border: 5px solid white;
  color: whitesmoke;
  background-color: rgb(25, 25, 25);
  box-shadow: rgb(25, 25, 25) 2px 8px 2px;
}

.start {
  position: absolute;
  bottom: 4%;
  left: 40%;
  z-index: 1;
}

.accept-decline-btns {
  display: flex;
  justify-content: center;
}

.deal {
  background-color: green;
}

.deal:hover {
  background-color: rgb(11, 78, 11);
  box-shadow: black 2px 2px;
}

.no-deal {
  background-color: red;
}
.no-deal:hover {
  background-color: rgb(173, 4, 4);
  box-shadow: black 2px 2px;
}
.offers {
  color: whitesmoke;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid white;
  font-size: 2rem;
  margin: 3%;
  text-align: center;
  width: 40%;
  height: 10%;
}

.close {
  color: whitesmoke;
  float: right;
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}
